*{
    box-sizing: border-box;
}

.header{
    background: $darkColor;
    min-height: 100px;
}

.header__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding-left: $mainLine;
    padding-right: $mainLine;
}

.header__container-data{
    display: flex;
    align-items: center;
}

.header__navigation{
    padding-right: 20px;
    padding-left: 20px;
    font-size: 14px;
    line-height: 16px;
    font-family: FuturaBookC;
    color: $whiteColor;
    text-transform: uppercase;
    text-decoration: none
}

.header__navigation_home{
    color: $goldColor
}

.header__numb{
    margin-left: 68px;
    margin-right: 45px;
    font-size: 14px;
    line-height: 16px;
    font-family: FuturaDemiC;
    text-decoration-line: underline;
    color: $goldColor;
}

.hero{
    min-height: 800px;
    width: 100%;
    background-color: $darkColor;
    display: flex;
    flex-direction: row;
}

.hero__container-text{
    background-color: $darkColor;
    width: $mainLine;
    min-height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero__container-inst{
    transform: rotate(90deg);
    width: max-content;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.hero__line{
    border: none;
    color: $goldColor;
    background-color: $goldColor;
    height: 1px;
    margin-left: 20px;
    width: 50px;
}

.hero__img-container{
    background-image: url("../assets/images/image\ 4.3.svg");
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 700px;
    width: 95%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.hero__img-container:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $blackout;
    z-index: 2;
}

.hero__container-description{
    margin-left: 5%;
    position: relative;
    z-index: 3;
}

.hero__h2{
    color: $whiteColor;
    font-family: FuturaBookC;
    font-size: 22px;
    line-height: 30px;
    max-width: 420px;
    margin-top: 25px;
}

.hero__h1{
    font-family: YesevaOne;
    font-style: normal;
    font-weight: normal;
    text-transform: uppercase;
    color: $whiteColor;
    line-height: 53px;
    font-size: 40px;
    max-width: 550px;
}

.hero__title{
    color: $goldColor;
}

.hero__button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 210px;
    height: $heightButton;
    border: 1px solid $whiteColor;
    box-sizing: border-box;
    border-radius: 2px;
    margin-left: 20px;
    text-decoration: none;
}

.hero__container-navigation{
    display: flex;
    flex-direction: row;
    margin-top: 35px;
}

.contacts{
    background-image: url("../assets/images/image\ 7.2.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    z-index: 1;
    width: 100%;
    padding-top: 275px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.contacts:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $blackout;
    z-index: 2;
}

.contacts__conteiner{
    flex-direction: column;
    display: flex;
    margin-bottom: 50px;
    justify-items: center;
    align-items: center;
    position: relative;
    z-index: 3;
}

.contacts__h2{
    font-family: YesevaOne;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    max-width: 600px;
    color: $goldColor;
}

.contacts__container-icons{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.contacts__icon-content{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $goldColor;
}

.contacts__icon-size{
    width: 50%;
    height: 50%;
}

.contacts__map{
    width: 100%;
}

.contacts__container-reference{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects{
    background-image: url("../assets/images/city.png");
    display: flex;
    flex-direction: column;
    width: 100%;
    background-size: 100% 100%;
}

.projects__title{
    font-family: YesevaOne;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: $whiteColor;
}

.projects__description{
    font-family: FuturaBookC;
    font-size: 18px;
    line-height: 29px;
    color: #FFFFFF;
    width: 80%;
    margin-top: 35px;
}

.projects__container-information{
    display: flex;
    flex-flow: column wrap;
    flex-direction: row;
    margin-top: 40px;
}

.projects__information{
    width: 40%;
    margin-bottom: 35px;
}

.projects__h2{
    font-family: YesevaOne;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #E3B873;
}

.projects__data{
    font-family: FuturaBookC;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
    width: 50%;
}

.projects__container-title{
    display: flex;
    align-items: flex-end;
    width: 100%;
}

.projects__h1{
    font-family: YesevaOne;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 37px;
    letter-spacing: -0.07em;
    text-transform: uppercase;
    color: #E3B873;
    width: 200px;
    margin: 0;
}

.projects__hr{
    border: none;
    //color: $goldColor;
    background-color: $goldColor;
    height: 2px;
    width: 90px;
    margin-left: 2px;
    margin-bottom: 15px;
}

.projects__complete-projects{
    display: flex;
    flex-direction: column;
    width: calc(1236px - 680px);
}

.projects__container-complete{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.projects__container-navigation{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: calc(((100% - 1236px)/2) + 15px);
    align-self: flex-start;
    width: max-content !important;
    margin-top: 50px;
}

.projects__img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.submit{
    width: 100%;
    background-color: $whiteColor;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 60px;

    background-image: url("../assets/images/bcLineMain.png");
    background-size: cover;
}

.submit__form{
    display: flex;
    margin-top: 10%;
    margin-bottom: 10%;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
}

.submit__input{
    border-width: 0px;
    outline: none;
    border-bottom: 1px solid rgba(54, 54, 54, 0.3);
    padding-bottom: 10px;

    font-family: FuturaBookC;
    font-size: 18px;
    line-height: 24px;

    color: $colorText;
}

.submit__input::placeholder{
    color: $colorText;

    font-family: FuturaBookC;
    font-size: 18px;
    line-height: 24px;
}

.submit__label{
    font-family: FuturaBookC;
    font-size: 15px;
    line-height: 20px;
    color: rgba(54, 54, 54, 0.5);
}

.submit__container-subscribe{
    display: flex;
    padding-top: 40px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.submit__button{
    order: 0;
}

.type-of-repair{
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-image: url("../assets/images/bcLineMain.png");
    background-size: cover;
}

.type-of-repair__title-icon{
    background-image: url("../assets/images/typesOfRepair.svg");
    background-size: cover;
    height: 35px;
    width: 35px;
}

.type-of-repair__container-repairs{
    display: flex;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
}

.type-of-repair__container-imeges{
    max-width: 1236px;
    display: flex;
    padding-top: 30px;
    margin-left: -15px;
    margin-right: -15px;
}

.type-of-repair__image{
    width: 33.33%;
    padding: 15px;
}

.type-of-repair__list-container{
    width: 85%;
    background: #FFFFFF;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
    display: flex;
    flex-direction: column;
    margin-top: -100px;
    position: relative;
    margin-left: 30px;
    margin-right: 30px;
}

.type-of-repair__list-title{
    font-family: YesevaOne;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    margin-left: 7%;
    color: $colorText;
}

.type-of-repair__list-button{
    font-family: YesevaOne;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: -25px;
}

.type-of-repair__list{
    font-family: FuturaBookC;
    font-size: 15px;
    line-height: 25px;
    color: #959595;
}

.type-of-repair__container-departure{
    display: flex;
    max-width: 1236px;
    padding-top: 170px;
    padding-bottom: 280px;
    padding-right: 15px;
}

.type-of-repair-container{
    background-image: url("../assets/images/image\ 6.1.svg");
    background-size: auto;
    background-repeat: no-repeat;
    background-position-y: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.type-of-repair__container-manual{
    display: flex;
    flex-direction: column;
    padding-right: 30px;
    padding-top: 230px;
}

.type-of-repair__container-step{
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.type-of-repair__conteiner-step-icon{
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    margin-bottom: 50px;
}

.type-of-repair__container-line{
    background-color: $goldColor;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 2px;
    height: calc(100% - 60px);
}

.type-of-repair__step{
    background-color: $goldColor;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.type-of-repair__step-text{
    font-family: YesevaOne;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
}

.type-of-repair__step-description{
    font-family: FuturaMediumC;
    font-size: 18px;
    line-height: 21px;
    width: 50%;
    color: $colorText;
    margin-left: 4%;
    margin-top: 1.8%;
}

.type-of-repair__container-request{
    display: flex;
    flex-direction: column;
    margin-top: 230px;
}

.type-of-repair__form{
    background-color: #131313;
    display: flex;
    flex-direction: column;

    background-image: url("../assets/images/BACKGROUND LINE.svg");
    background-size: cover;
}

.type-of-repair__checkbox-position{
    align-self: flex-start;
    margin-left: 7%;
}

.type-of-repair__container-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.type-of-repair__container-title{
    width: 100%;
    display: flex;
    justify-content: center;
}

.type-of-repair__form-title{
    font-family: FuturaDemiC;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    width: 60%;
    color: #FFFFFF;
}

.type-of-repair__input-container{
    width: 80%;
    margin-bottom: 5%;
}

.type-of-repair__label{
    font-family: FuturaBookC;
    font-size: 15px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.5);
}

.type-of-repair__button{
    align-self: flex-end;
    margin-right: 50px;
    margin-top: 50px;
    margin-bottom: 27px;
}

.type-of-repair__container-save{
    display: flex;
    align-items: center;
    padding-left: 5%;
    //justify-content: center;
    margin-top: 40px;
}

.type-of-repair__icon-pig{
    background-image: url("../assets/images/pig.svg");
    background-size: 100% 100%;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

.type-of-repair__text{
    font-family: FuturaDemiC;
    font-size: 20px;
    line-height: 25px;
    color: $goldColor;
    text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);
    width: 50%;
    margin-left: 30px;
}

.view-video__container{
    display: flex;
    justify-content: center;
    background-color: #000000;
    margin-top: -200px;
    max-width: 820px;
    max-height: 440px;
    align-self: center;
}

.view-video{
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.2;
}

.view-video__button{
    position: absolute;
    align-self: center;
}

.online-control{
    display: flex;
    flex-direction: column;
}

.steps-goal{
    width: 100%;
    background-color: #131313;
    background-image: url('../assets/images/bcLineMain.png');
    background-size: cover;
    display: flex;
    flex-direction: column;
    z-index: 2;
    position: relative;
}

.steps-goal__description{
    font-family: FuturaBookC;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;
    max-width: 450px;
    margin-top: 25px;
}

.clients{
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    padding-top: 280px;
    padding-bottom: 380px;
    align-items: center;
    background-image: url('../assets/images/clients_bc.svg');
    background-size: cover;
}

.steps-goal__container-team{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 3;
    margin-bottom: -225px;
    padding-left: 20px;
    padding-right: 20px;
};

.steps-goal__team{
    max-width: 1065px;
    display: flex;
    flex-direction: row;
}

.steps-goal__container-img{
    width: 33%;
    margin-left: 105px;
}

.steps-goal__container-img:nth-child(1){
    margin-left: 35px;
}

.steps-goal__img{
    width: 100%;
    position: relative;
    z-index: 1;
}

.steps-goal__container-icon{
    position: relative;
    z-index: 2;
    margin-bottom: -35px;
    margin-left: -35px;
    display: flex;
    width: 70px;
    height: 70px;
    background-color: $goldColor;
    justify-content: center;
    align-items: center;
}

.steps-goal__container-information{
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #FFFFFF;
    margin-top: -70px;
}

.steps-goal__team-name{
    font-family: YesevaOne;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #181818;
}

.steps-goal__team-position{
    font-family: FuturaBookC;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #959595;
}

.steps-goal__container-experience{
    background-color: $goldColor;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 45px;
    margin-top: 25px;
}

.steps-goal__experience{
    font-family: YesevaOne;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.clients__description{
    font-family: FuturaBookC;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    color: #363636;
    max-width: 350px;
    margin-top: 28px;
}

.clients__container-reviews{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
}

.clients__reviews{
    max-width: 1236px;
    display: flex;
}

.clients__review{
    width: 33.3%;
    margin-right: 55px;
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.clients__review:nth-child(3){
    margin-right: 0px;
}

.clients__img{
    border-radius: 50%;
    width: 75px;
    height: 75px;
}

.clients__information{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-left: 15px;
}

.clients__name{
    font-family: YesevaOne;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    color: #181818;
    margin-left: 15px;
    width: 50%;
}

.clients__comment{
    font-family: FuturaBookC;
    font-size: 15px;
    line-height: 180%;
    color: #959595;
}

.clients__container-comment{
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 60px;
}

.clients__information-work{
    min-height: 55px;
    max-width: 295px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: -25px;
}

.clients__work{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: $goldColor;
    width: 49.7%;
}

.clients__text{
    font-family: YesevaOne;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 24px;
    text-transform: uppercase;
    margin-left: 15px;
    color: #FFFFFF;
}

.form-quetions__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../assets/images/background-line.png');
    background-color: #C4C4C4;
    width: 860px;
    position: relative;
    padding-top: 35px;
    padding-bottom: 35px;
}

.form-quetions{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: -225px;
    margin-bottom: -225px;
    z-index: 3;
    padding-left: 20px;
    padding-right: 20px;
}

.form-quetions-h2{
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.form-quetions__container-form{
    margin-top: 45px;
    margin-bottom: 50px;
    width: 515px;
}

.form-quetions__information{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 50px;
}

.form-quetions__input{
    width: 230px;
}

.form-quetions__button{
    margin-top: 50px;
    width: 200px;
    height: 50px;
    background-color: $goldColor;
    border-width: 0;
    font-family: FuturaDemiC;
    font-size: 15px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}