
@media screen and (max-width: 800px) {
    .header__container-nav{
        display: none;
    }

    .header__numb{
        color: #FFFFFF;
        text-decoration-line: none;
    }

    .hero__container-text{
        display: none;
    }

    .hero__img-container{
        width: 100%;
    }

    .hero__h1{
        width: 70%;
        font-style: normal;
        font-weight: normal;
        font-size: 23px;
        line-height: 132.83%;
    }

    .hero__h2{
        width: 65%;
        font-size: 18px;
        line-height: 135.84%;
    }

    .hero__container-navigation{
        flex-direction: column;
        width: 100%;
    }

    .hero__button{
        margin-left: 0px;
        width: 95%;
        margin-top: 35px;
    }

    .herro__button-calculate{
        width: 95%;
    }

    footer{
        display: none;
    }

    .contacts{
        background-image: none;
        background-color: #252525;
        padding-top: 45px;
    }

    .contacts__container-reference{
        order: 1;
    }

    .contacts__h2{
        font-size: 18px;
        line-height: 138.6%;
        max-width: 320px;
    }

    .projects{
        background-image: none;
    }

    .projects__container-title{
        justify-content: center;
    }

    .projects__title{
        font-size: 30px;
        line-height: 138.6%;
    }

    .projects__icon-title{
        height: 40px;
        width: 50px;
    }

    .type-of-repair__container-departure{
        display: none;
    }

    .type-of-repair__container-repairs{
        display: flex;
        flex-direction: column;
        padding-left: 5%;
        padding-right: 5%;
    }

    .type-of-repair__container-imeges{
        display: flex;
        flex-direction: column;
    }

    .type-of-repair__image{
        width: 100%;
        margin-bottom: 100px;
    }

    .online-control{
        padding-left: $mainLine;
        padding-right: $mainLine;
    }

    .view-video{
        width: 100%;
    }

    .submit{
        align-items: flex-start;
        background-color: transparent;
    }

    .description{
        width: 100%;
        font-size: 14px;
        line-height: 169.8%;
        color: #FFFFFF;
    }

    .submit__form{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: relative;
    }

    .submit__container-input{
        width: 100%;
        margin-right: 0px;
        margin-bottom: 10%;
    }

    .submit__container-subscribe{
        padding-top: 30px;
        justify-content: flex-start;
        order: 0;
    }

    .submit__button{
        position: absolute;
        align-self: flex-start;
        width: 100%;
        bottom: -70px;
    }

    .online-control{
        background-color: #252525;
    }

    .submit__label{
        color: rgba(255, 255, 255, 0.5);
    }

    .submit__input{
        color: #FFFFFF;
        background-color: rgba(0,0,0,0);
    }

    .submit__input::placeholder{
        color: #FFFFFF;
    }

    .labelCheckBox{
        color: #FFFFFF;
    }

    .contacts__map{
        max-width: 340px;
        height: 260px;
    }

    .container-elipse-icon{
        height: 80px;
        width: 80px;
        border-radius: 50%;
    }

    .pagination-top{
        display: none;
    }

    .projects__container-navigation{
        display: none;
    }

    .projects__container-complete{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .projects__complete-projects{
        width: 100%;
        padding-left: 0px;
        align-items: center;
    }

    .projects__hr{
        display: none;
    }

    .projects__h1{
        font-size: 22px;
        line-height: 138.6%;
        text-align: center;
    }

    .projects__description{
        margin-top: 22px;
        font-size: 14px;
        line-height: 158.48%;
        text-align: center;
    }

    .swiper-button-next-i{
        background-size: 35% 35%;
        width: 40px;
        height: 40px;
    }

    .swiper-button-prev-i{
        display: flex;
        width: 40px;
        height: 40px;
    }

    .view-video__icon{
        height: 15px;
        width: 15px;
    }

    .projects__h2{
        font-size: 14px;
        line-height: 138.6%;
    }

    .view-video__button{
        width: 40px;
        height: 40px;
    }

    .projects__data{
        font-family: FuturaBookC;
        font-size: 14px;
        line-height: 135.84%;
    }

    .projects__container-information{
        margin-top: 35px;
        width: 100%;
    }

    .swiper-container-images{
        max-width: 100%;
        height: 300px;
    }

    .swiper-container-main{
        margin-top: 36px;
    }

    .swiper-slide-i{
        width: 100%;
    }

    .steps-goal{
        background-color: #252525;
        padding-left: 12%;
        padding-right: 5%;
    }

    .steps-goal__team{
        width: 100%;
        flex-direction: column;
    }

    .steps-goal__description{
        font-size: 15px;
        line-height: 135.84%;
        width: 70%;
    }

    .steps-goal__container-img{
        width: 100%;
        margin-left: 0px;
        margin-bottom: 55px;
    }

    .steps-goal__container-img:nth-child(1){
        margin-left: 0px;
    }

    .clients{
        display: none;
    }

    .steps-goal__container-team{
        margin-bottom: 0px;
    };

    .swiper-slide-m{
        padding-left: 0px;
    }

    .steps-goal__container-information{
        margin-left: 40px;
        margin-right: 40px;
    }

    .form-quetions__container{
        background-image: none;
        width: 100%;
        background-color: #252525;
    }

    .form-quetions{
        margin-top: 0px;
        margin-bottom: 0px;
        background-color: #252525;
        padding-left: 5%;
        padding-right: 5%;
    }

    .contacts__icon-content{
        width: 40px;
        height: 40px;
    }

    .container-input{
        width: 100%;
        margin-bottom: 60px;
    }

    .container-input:nth-child(2){
        margin-bottom: 0px;
    }

    .form-quetions__information{
        flex-direction: column;
        margin-bottom: 50px;
    }

    .form-quetions__input{
        width: 100%;
    }

    .form-quetions__button{
        width: 100%;
    }

    .form-quetions__container-form{
        width: 100%;
    }

    .form-quetions__checkbox{
        align-self: flex-start;
    }

    .contacts:after {
        content: none;
    }
}

@media screen and(max-width: 1200px){
    .header__button-style{
        display: none;
    }

    .header__numb{
        margin-right: 0px;
    }
}