$goldColor: #E3B873;
$darkColor: #131313;
$whiteColor: #FFFFFF;
$mainLine: 5%;
$blackout: rgba(0, 0, 0, .850);
$heightButton: 50px;
$colorText: #363636;

$repairImageWidth: 520px;
$repairImageHeight: 540px;

@font-face {
    font-family: 'FuturaBookC';
    src: url("../assets/fonts/futurabookc.ttf") format("truetype")
}

@font-face {
    font-family: 'FuturaDemiC';
    src: url("../assets/fonts/futurademic.ttf") format("truetype")
}

@font-face {
    font-family: 'YesevaOne';
    src: url("../assets/fonts/YesevaOne-Regular.ttf") format("truetype")
}

@font-face {
    font-family: 'FuturaMediumC';
    src: url("../assets/fonts/futuramediumc.ttf") format("truetype")
}

