.title{
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    font-family: FuturaDemiC;
    color: $goldColor;
    text-decoration: none;
}

.button-style{
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    width: 210px;
    height: $heightButton;
    border-width: 0px;
    background-color: $goldColor;
}

.button-text{
    font-family: FuturaDemiC;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
    color: $whiteColor;
}

main{
    display: flex;
    flex-direction: column;
}

.container-title{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-icon{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 150px;
}

.line{
    border: none;
    color: $goldColor;
    background-color: $goldColor;
    height: 1.5px;
    width: 32px;
}

.container-elipse-icon{
    background-color: $goldColor;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.checkbox-container{
    font-family: FuturaBookC;
    font-size: 16px;
    line-height: 22px;
    color: #181818;
    display: flex;
    padding-left: 20px;
}

.checkbox{
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.check{
    position: absolute;
    width: 1em;
    height: 1em;
    background-color: $goldColor;
    margin-left: -20px;
    border-radius: 1px;
}

.checkbox:checked + .check{
    background-image: url("../assets/images/check.png");
    background-size: 10px 10px;
    background-repeat: no-repeat, repeat;
    background-position: center;
}

.swiper-container {
    width: 100%;
}

.swiper-pagination{
    position: relative;
}

.swiper-container-main{
    margin-bottom: 100px;
    margin-top: 105px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.swipper-wrapper-main{
    max-width: 1236px;
}

.slide-text{
    color: aliceblue;
    font-size: 40px;
}

.pagination-bottom{
    font-size: 0px;
    width: max-content !important;
}

.pagination-bottom .swiper-pagination-bullet{
    background-color: rgba(255, 255, 255, 0.3);
    margin-left: 8px;
    margin-right: 8px;
}

.pagination-bottom .swiper-pagination-bullet-active {
    background-color: #ffffff;
}

.swiper-button-next-m{
    background-image: url("../assets/images/button-right.svg");
    background-size: 100% 100%;
    width: 40px;
    margin-left: 30px;
}

.swiper-button-next-m::after {
    display: none;
}

.swiper-button-prev-m{
    background-image: url("../assets/images/button-left.svg");
    background-size: 100% 100%;
    width: 40px;
    margin-right: 30px;
}

.swiper-button-prev-m::after{
    display: none;
}

.swiper-button-prev-m, .swiper-button-next-m {
    position: relative;
    left: 0;
    top: 0;
    height: var(--swiper-navigation-size);
    margin-top: 0;
}

.swiper-button-next-i{
    background-image: url('../assets/images/button-next-image.svg');
    background-size: 35% 35%;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 20px;
    background-color: $goldColor;
    width: 70px;
    height: 70px;
    border-radius: 50%;
};

.swiper-button-next-i::after{
    display: none;
};

.swiper-button-prev-i{
    display: none;
    background-image: url('../assets/images/button-prev-image.svg');
    background-size: 35% 35%;
    background-repeat: no-repeat;
    background-position: center;

    background-color: $goldColor;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.swiper-button-prev-i::after{
    display: none;
};

.pagination-top{
    margin-bottom: 45px;
    width: 900px;
    display: flex;
}

.container-paginator{
    max-width: 1236px;
    padding-left: calc((1236px - 680px) + 15px);
}

.pagination-top .swiper-pagination-bullet{
    width: auto;
    height: auto;
    border-radius: 0px;
    opacity: 1;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.3);
    font-family: YesevaOne;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    padding-bottom: 6px;
    margin-right: 60px;
}

.pagination-top .swiper-pagination-bullet-active{
    color: $goldColor;
    border-bottom: 1px solid;
}

.swiper-slide-i{
    width: 680px;
}

.swiper-container-images{
    //max-width: calc(680px + 250px);
    max-width: calc(680px + 15%);
    margin-left: 0px;
    margin-right: 0px;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 3;
   // top: 50px;
    height: 480px;
}

.swiper-slide-m{
    padding-left: 15px;
}

.description{
    font-family: FuturaBookC;
    font-size: 20px;
    line-height: 34px;
    max-width: 550px;
    text-align: center;
    color: $colorText;
    margin-top: 35px;
}

.subtitle{
    font-family: YesevaOne;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: $whiteColor;
}

.container-input{
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}

.lebel-input{
    font-family: FuturaBookC;
    font-size: 15px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.5);
}

.input{
    background-color: rgba(0,0,0,0);
    border: none;
    border-bottom: 1px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    padding-bottom: 10px;
    outline: none;
    font-family: FuturaMediumC;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
}

.input::placeholder{
    font-family: FuturaMediumC;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
}